---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main { width: 960px; }
      h4 { margin-bottom: 0.5em; }
      h5 { margin-top: 1em; }
      p { margin: 0.5em 0; }
      ul { list-style-type: none; margin: 0; padding: 0; }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <h4>Ryan's Catering</h4>
        <p>Classically trained chef specializing in American fine dining.</p>
        <ul>
          <li><a href="/catering/menu">Catering menu</a></li>
          <li><a href="mailto:ryan@ryanblakeley.net?subject=Catering inquiry">Contact</a></li>
        </ul>
        <p>Food service that is:</p>
        <ol>
          <li>Clean. Food is handled with care like I would want to feed myself and my family. Everything is cleaned and kept at appropriate temperatures, to a high standard. We reduce exposure to plastics.</li>
          <li>Attentive without being noticed. Communication that suits you. With private catering, I come to you, cook, clean, and get out of there. I'm happy to chat, but working quietly is something I enjoy. I respect your space.</li>
          <li>Under-promise, over-deliver. If you're not satisfied I will make it right.</li>
        </ol>
      </section>
      <ul>
        <!-- <li><a href="/catering/intake-questions">Intake questions</a></li> -->
        <li><a href="/">Home</a></li>
      </ul>
    </main>
    <Footer />
  </body>
</html>

