---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { Image } from 'astro:assets';
import imageReference1 from '../../images/catering-menu-2.png';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      main { width: 960px; }
      ul { padding: 0; list-style-type: none; text-align: center; }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <Image
          src={imageReference1}
          alt="Catering menu"
          inferSize={true}
        />
        <ul>
          <li><a href="/catering">Return to catering page</a></li>
        </ul>
      </section>
    </main>
  </body>
</html>
