---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description=""
	pubDate={new Date('March 11 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
<p>
<a href="https://newsletter.ryanblakeley.net/about">Newsletter about page</a>
</p>
</Layout>
