---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import imageReference1 from '../images/landscape-1280.jpg';
import { Image } from 'astro:assets';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <style>
    ul { padding: 0; }
    main ul li { display: block; text-align: center; }
    img { width: 100%; border-radius: 0px; }
  </style>
  </head>
  <body>
    <Header />
    <main>
      <ul>
        <li><a href="https://blog.ryanblakeley.net">Blog</a></li>
      </ul>
    </main>
    <Image
      src={imageReference1}
      alt="Landscape photo"
      inferSize={true}
    />
  </body>
</html>
