---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <ul>
        <li><a href="https://newsletter.ryanblakeley.net">Newsletter</a></li>
        <li><a href="/catering">Catering</a></li>
    </main>
    <Footer />
  </body>
</html>
